/*********************************************************
    Form
*********************************************************/

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

label,
.form>.form__label {
    display: block;
    margin-bottom: 0.2rem;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
{
    display: inline-block;
    width: 100%;
    margin-bottom: rem(18);
    padding: 0 rem(10);
    height: 3rem;
    line-height: 3rem;
    font-family: inherit;
    font-size: 1rem;
    color: $color-body;
    border: 1px solid $color-border-base;
    border-radius: 0;
    outline: none;
    transition: 0.2s all ease-out;
    &:focus,
    &:active {
        border-color: $color-primary;
    }
}

textarea {
    max-width: 100%;
}

.form {
    &__btn-container {
        @include bp_md {
            float: right;
        }
    }
}

.form {
    &__input {
        &--success {
            border-color: $color-success!important;
        }
        &--error {
            border-color: $color-error!important;
        }
    }
}

// Form Inline
.form-inline {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    .form-group {
        display: inline-block;
    }
    input {
        flex: 1;
        width: auto;
    }
}