.hero {
  position: relative;
  height: 500px;

  &__image {
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 300;
    font-size: 30px; 
    color: $color-white;
    margin: 0;
    @include bp_md {
      font-size: 60px;
    }
  }

  &__subtitle {
    font-weight: 100;
    font-size: 20px;
    margin: 0;
    @include bp_md {
      font-size: 30px;
    }
  }

}
