/*********************************************************
    Buttons
*********************************************************/
.btn {
  display: inline-block;
  padding: 0 rem(10);
  height: 3rem;
  line-height: 3rem;
  font-size: font-scale(0);
  color: $color-white;
  background-color: $color-primary;
  border-radius: rem(2);
  border: 1px solid $color-primary;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover, &:focus {
    text-decoration: none;
    color: $color-white;
    background-color: $color-primary-dark;
  }

  &--secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
    &:hover, &:focus {
      background-color: $color-secondary-dark;
    }
  }

  &--muted {
    color: $color-primary;
    background-color: transparent;
    border-color: $color-primary;
    &:hover, &:focus {
      background-color: $color-primary;
      border-color: $color-primary-dark;
    }
  }

  &--large {
    padding: rem(15) rem(25);
    font-size: rem(18);
  }

  &--disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }

}