.btn {
  display: inline-block;
  padding: rem(10) rem(20);
  font-size: rem(16);
  color: $color-white;
  background-color: $color-primary;
  text-decoration: none;
  transition: all 0.2s linear;
  &:hover, &:focus {
    background-color: darken($color-primary, 10%);
  }

  &--secondary {
    background-color: $color-secondary;
    &:hover, &:focus {
      background-color: darken($color-secondary, 10%);
    }
  }

  &--transparent {
    color: $color-white;
    background-color: transparent;
    border: 2px solid $color-primary;
    &:hover, &:focus {
      background-color: $color-primary;
      border-color: darken($color-primary, 10%);
    }
  }

  &--large {
    padding: rem(15) rem(25);
    font-size: rem(18);
  }

}