/**
  * FLEXBOX GRID
  */
.row-flex {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  flex-direction: row;
  margin: 0;
  padding: 0;

  &--gutters {
    margin-right: -30px;
    > div {
      padding-right: 30px;
    }
  }

  @include bp_md {
    &__md-1 {
      flex-basis: auto;
      width: 8.3333333333%;
    }
    &__md-2 {
      flex-basis: auto;
      width: 16.6666666667%;
    }
    &__md-3 {
      flex-basis: auto;
      width: 25%;
    }
    &__md-4 {
      flex-basis: auto;
      width: 33.3333333333%;
    }
    &__md-5 {
      flex-basis: auto;
      width: 41.6666666667%;
    }
    &__md-6 {
      flex-basis: auto;
      width: 50%;
    }
    &__md-7 {
      flex-basis: auto;
      width: 58.3333333333%;
    }
    &__md-8 {
      flex-basis: auto;
      width: 66.6666666667%;
    }
    &__md-9 {
      flex-basis: auto;
      width: 75%;
    }
    &__md-10 {
      flex-basis: auto;
      width: 83.3333333333%;
    }
    &__md-11 {
      flex-basis: auto;
      width: 91.6666666667%;
    }
    &__md-12 {
      flex-basis: auto;
      width: 100%;
    }
  }


}