.hero {
  position: relative;
  height: 550px;
  //background: url('../img/bg-brick.png') 0 0 repeat;

  &--has-overlay {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba($color-secondary, 0.6);
      z-index: 1;
    }
  }

  &--bg-gradient {
    background-color: $color-secondary;
    background-image: linear-gradient(120deg, $color-secondary, $color-secondary-dark);
  }

  &__background-image {
    height: 100%;
  }

  &__logo { 
    width: 1em;
    height: 1em;
    font-size: 100px;
    margin: 0 auto;
    background: url('../img/logo.svg') center center no-repeat;
    background-size: 100%;
  }

  &__content {
    position: relative;
    top: 60%;
    transform: translateY(-60%);
    left: 0;
    text-align: center;
    color: $color-white;
    z-index: 10;
    @include bp_md {
      margin: 0 auto;
      max-width: 65%;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 30px; 
    color: $color-white;
    margin-bottom: 10px;
    @include bp_md {
      font-size: rem(58);
    }
  }

  &__subtitle {
    font-weight: 100;
    margin: 0;
  }

  &__btn-container {
    margin-top: 20px;
  }

}
